a:link {
    color: rgba(0,0,0,0.87);
    background-color: transparent;
    text-decoration: none;
}

.center {
    text-align: center;
}

.margin {
    margin: 89px;
}

.logo {
    padding-top: 70px;
}

.searchbar {
    padding-top: 30px;
}

.link {
    padding-left: 10px;
}

.toprightlink{
    text-align: right;
    padding-right: 20px;
    font-size: 13px;
    padding-top: 20px;
}

.buttons {
    padding-top: 30px;
}

.body {
    font-family: arial,sans-serif;
}

.buttonstyle {
    font-size: 14px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    color: gray;
    font-size: 13px;
}

.divsearch {
    margin-left: 377.500px;
    margin-right: 377.500px;
}

.form {
    margin-left: 186px;
    margin-right: 186px;
}