.center {
    text-align: center;
}

html {
    margin: 89px;
    margin-left: 650px;
    margin-right: 650px;
}

.logo {
    padding-top: 109px;
}

.searchbar {
    padding-top: 30px;
}

.buttons {
    padding-top: 30px
}